h1{
    text-align: center;
    color:#ffffff;
    font-size:30px;
    font-family:'Courier New', Courier, monospace;
    
}
h2{
    padding: 20px;
    font-size:20px;
    font-family:monospace;
    margin-bottom: 50;
    color:#ff00c8;
}
h3,h4{
    padding: 20px;
    font-size:17px;
    font-family:monospace;
    margin-bottom: 50;
    color:#ff00c8;

}


header {
	background-color:#231f5a;
	padding: 10px;
	text-align: center;
    line-height: 20px;
    width: 100%;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1 {
    display: flex;
    align-items: center;
    
}
.logo img {
    margin-right: 20px; /* Görsel ile yazı arasındaki boşluğu ayarlar */
}



body{
   
    background-color:#eae8ff;
    margin: 0%;
    padding: 0%;
    list-style: none;
    overflow-x: hidden;
}

footer {
    position: fixed;
    bottom: 0;
    line-height: 20px;
    width: 100%; 
    background-color:#251f7a;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    
    
}
.nav{
    list-style: none;
    padding: 0;
    margin: 0;
    background-color:#e2afec;
    display: flex;
    justify-content: center;
        
}


ul,li{
    padding: 16px;
    display: inline;
    color: black;

}
p{
    font-size: 18px;
    padding: 1px 10px;
    font-family:monospace;
    color:#231f5a;
}

a{
    color:#231f5a;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-family:monospace;
    text-decoration:none
     
}

.top{
    height: 300px;
    width: 300px;
    border-radius: 20px;
    background-color: #007BFF;
}
footer a{
    color: white;
}

a:active{
    color: #ffffff;
}

form{
    padding: 15px;
    text-align: center;

}
form b {
    color: #251f7a;
}
form textarea ,input {
    background-color:#dcdcff; 
    border-radius: 10px; 
    border-width: 3px;
    border-color: #ffffff;
}




.marquee-container {
    width: 100%; /* Tam genişlikte yer kaplar */
    overflow: hidden; /* Taşan içeriği gizler */
}

.marquee {
    display: inline-block; /* Görselleri yan yana yerleştirir */
    animation: marqueeAnimasyon 60s linear infinite; /* Görsel animasyonu */
    white-space: nowrap; /* Öğelerin yan yana sıralanmasını sağlar */
}

.marquee img {
    
    height: 300px; /* Görsel yüksekliği */
    margin-right: 20px; /* Görseller arasında boşluk */
}

@keyframes marqueeAnimasyon {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-200% - 40px)); /* Hareketli kısım: -200% görseli ekranın dışına taşır */
    }
}